.hide {
  display: none;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  cursor: pointer;
}

header {
  background-color: rgb(243, 33, 33);
}

nav {
  font-size: 1.5rem;
}

.nav {
  cursor: pointer;
}

.nav-bottom {
  color: lightgrey;
  font-size: 1rem;
}

.btn-yellow {
  background: #ffe400;
  color: black;
  border-radius: 10px;
}

.fa-chevron-right {
  font-size: 12px;
  vertical-align: middle;
}

figure {
  position: relative;
  cursor: pointer;
}

.img-highlight {
  position: absolute;
  color: rgb(243, 33, 33);
  font-weight: bold;
  bottom: 0;
  background-color: lightgrey;
}

.c-vs {
  text-align: center;
  position: relative;
  margin: 10px auto;
  position: relative;
}

.c-vs:before {
  content: "";
  display: block;
  width: 45%;
  height: 1.5px;
  background: #000;
  position: absolute;
  left: 0;
  top: 50%;
}

.c-vs:after {
  content: "";
  display: block;
  width: 45%;
  height: 1.5px;
  background: #000;
  position: absolute;
  right: 0;
  top: 50%;
}

span {
  color: #fff;
  font-weight: bolder;
  font-size: 1rem;
  background: #000;
  z-index: 1000;
  padding: 10px;
  border-radius: 50%;
}






